{{!
    Copyright (C) 2016 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<footer class="footer-wrapper pull-right">
    <tree-pagination paging="paging"></tree-pagination>
</footer>
